<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board.mapper.ArticleMapper">

	<select id="selectArticles" resultType="board.Article">
	 	select * from article
	</select>
	
	<insert id="addArticle" parameterType="board.Article">
		insert into article set title = #{title}, body = #{body}, mid =#{mid}, regDate=now(), hit=0
	</insert>
	
	<insert id="addReply" parameterType="board.Reply">
		insert into reply set body = #{body}, mid =#{mid}, aid=#{aid}, regDate=now()
	</insert>
	
	<update id="doUpdateReply" parameterType="board.Reply">
		update Reply set body = #{body} where id =#{id} 
	</update>
	
	<update id="updateArticle" parameterType="board.Article">
		update article set title = #{title}, body = #{body} where id =#{id}
	</update>
	
	<delete id="deleteArticle" parameterType="int">
		delete from article where id=#{aid}
	</delete>
	
	<delete id="deleteArticleReply" parameterType="int">
		delete from reply where aid=#{aid}
	</delete>
	
	<insert id="addMember" parameterType="board.Member">
		insert into `member` set loginId=#{loginId}, loginPw=#{loginPw}, nickname=#{nickname}, regDate=now()
	</insert>
	
	<delete id="deletReply" parameterType="int">
		delete from reply where id =#{rid}
	</delete>
	
	<select id="loginCheck" parameterType="board.Member" resultType="board.Member">
		select * from `member` where loginId=#{loginId} and loginPw=#{loginPw}
	</select> 
	
	<select id="getArticleById" parameterType="int" resultType="board.Article">
		select a.*,m.nickname from article a inner join `member` m on a.mid=m.id where a.id =#{aid}
	</select>
	
	<select id="getReplies" parameterType="int" resultType="board.Reply">
		select r.*, m.nickname from Reply r inner join `member` m on r.mid=m.id where r.aid =#{aid}
	</select>
	
</mapper>